.auth-container {
    height: 100vh;
    overflow-y: auto;
    padding: "35px 90px";
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container form {
    width: 80%!important;
}

.register-image {
    background-image: url('../../assets/image_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 2px silver;
    background-size: cover;
}

.login-image {
    background-image: url('../../assets/image_4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 2px silver;
    background-size: cover;
}