.primary-link {
    color: #8f6900!important;
    background: transparent!important;
    border: 1px solid #F1C038!important;
    box-shadow: 1px 1px 1px gainsboro!important;
}

.primary-link:hover {
    background: #F1C038!important;
    border-color: #d19c0b!important;
}

.secondary-link {
  color: #071E78!important;
  background: transparent!important;
  border: 1px solid #071E78!important;
}

.secondary-link:hover {
  background: #071E78!important;
  border-color: #041558!important;
  color: white!important;
}